/* Start od Blog page */
body {
	font-family: "Avenir Next Cyr";
	font-style: normal;
	color: #464646;
}
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
img {
	display: block;
	height: auto;
}
a,
a:visited {
	text-decoration: none;
}
main {
	background: #ffffff;
}

.header {
}
.header__nav {
}
.header__logo {
}
.nav__list {
	display: flex;
	justify-content: space-between;
}
.nav__item {
}
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media screen and (min-width: 320px) {
	.container {
		max-width: 320px;
	}
}
@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
		padding-left: 25px;
		padding-right: 25px;
	}
}
@media screen and (min-width: 1920px) {
	.container {
		max-width: 1650px;
	}
}

.section {
	padding-top: 25px;
	padding-bottom: 25px;
}
@media screen and (min-width: 768px) {
	.section {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
@media screen and (min-width: 1900px) {
	.section {
		padding-top: 55px;
		padding-bottom: 55px;
	}
}
.section__title {
	font-weight: 750;
	font-size: 30px;
	line-height: 1.23;
	text-align: center;

	margin-bottom: 20px;

	color: #9e1651;
}
@media screen and (min-width: 768px) {
	.section__title {
		font-size: 40px;
		margin-bottom: 35px;
	}
}
@media screen and (min-width: 1920px) {
	.section__title {
		font-size: 70px;
		margin-bottom: 50px;
	}
}

/* Footer */
.footer {
	background-color: #f0f6ff;
}
@media (max-width: 767px) {
	.footer {
		padding: 5px 0 10px;
	}
}
@media screen and (max-width: 1919px) {
	.footer {
		padding: 10px 0;
	}
}
@media screen and (min-width: 768px) {
	.footer > .container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

.footer__logo-container {
}
@media (min-width: 1920px) {
	.footer__logo-container {
		padding: 18px 0 117px;
	}
}
.footer__logo {
	width: 100%;
}
@media screen and (min-width: 768px) {
	.footer__logo {
		width: 290px;
	}
}
@media screen and (min-width: 1920px) {
	.footer__logo {
		width: 461px;
	}
}
.footer__right {
}
@media screen and (min-width: 768px) {
	.footer__right {
		width: 100%;

		margin-left: 30px;
	}
}
@media screen and (min-width: 1920px) {
	.footer__right {
		padding-top: 70px;
		margin-left: 110px;
	}
}
.footer__nav {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
	.footer__nav {
		margin-bottom: 25px;
	}
}
@media screen and (min-width: 1920px) {
	.footer__nav {
		display: flex;
		flex-direction: row;

		margin-bottom: 70px;
	}
}
.nav-list {
	display: flex;
	flex-direction: column;
	gap: 5px;

	margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
	.nav-list {
		flex-direction: row;
		justify-content: space-between;

		margin-bottom: 15px;
	}
}
@media screen and (min-width: 1920px) {
	.nav-list {
		align-items: center;

		font-size: 24px;
		gap: 60px;

		margin-bottom: 0;
	}
}

.nav-list__link {
	cursor: pointer;
	color: #2c2c2c;
}
.nav-list__link:visited {
	color: #2c2c2c;
}
.footer__btn {
	cursor: pointer;
	min-width: 100%;
	font-weight: 700;
	font-size: 20px;
	padding: 15px 20px;
	border: 1px solid #3886fe;
	border-radius: 13px;
	color: #3886fe;
	background-color: transparent;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1920px) {
	.footer__btn {
		font-size: 27px;

		min-width: 292px;
		padding: 9px 20px 12px;
		margin-left: auto;
	}
}
.footer__contacts {
	font-size: 18px;
}
@media (min-width: 1920px) {
	.footer__contacts {
		font-size: 24px;
	}
}
.contacts-list {
	margin-bottom: 15px;
}
@media (min-width: 1920px) {
	.contacts-list {
		margin-bottom: 30px;
	}
}
@media (min-width: 768px) {
	.contacts-list > li:nth-child(-n + 1) {
		margin-bottom: 10px;
	}
}
.contacts-link {
	color: #2c2c2c;
}
.contacts-link:visited {
	color: #2c2c2c;
}
.contacts-title {
	font-size: 20px;
	font-weight: 700;

	margin-bottom: 5px;
}
@media (min-width: 1920px) {
	.contacts-title {
		font-size: 24px;
	}
}
.contacts-address {
}

/* !________________________________________________ */
.flex {
}
@media (min-width: 768px) {
	.flex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
.posts-list {
	margin-bottom: 10px;
}
@media (min-width: 768px) {
	.posts-list {
		width: 500px;

		margin-bottom: 0;
	}
}
@media (min-width: 1920px) {
	.posts-list {
		width: 1220px;

		margin-bottom: 0;
	}
}
.post {
}
.post__img {
	width: 100%;
	margin-bottom: 5px;
}
@media (min-width: 768px) {
	.post__img {
		margin-bottom: 15px;
	}
}
.post__date {
	display: inline-block;
	font-size: 10px;

	margin-bottom: 5px;
}
@media (min-width: 768px) {
	.post__date {
		font-size: 15px;
		margin-bottom: 15px;
	}
}
.post__title {
	font-size: 18px;
	font-weight: 700;

	margin-bottom: 5px;
}
@media (min-width: 768px) {
	.post__title {
		font-size: 26px;
		margin-bottom: 15px;
	}
}
.post__text {
	font-size: 12px;
}
@media (min-width: 768px) {
	.post__text {
		font-size: 16px;
	}
}
.blog-right {
}
@media (max-width: 767px) {
	.blog-right {
		padding-top: 10px;
		border-top: 1px solid #2c2c2c;
	}
}
@media (min-width: 768px) {
	.blog-right {
		width: calc(100% - (500px + 30px));
	}
}
@media (min-width: 1920px) {
	.blog-right {
		width: calc(100% - (1220px + 85px));
	}
}
.search-box {
	display: none;
}
@media (min-width: 768px) {
	.search-box {
		display: block;
		margin-bottom: 15px;
	}
}
.search-title {
	font-size: 20px;
	margin-bottom: 10px;
}
@media (min-width: 1920px) {
	.search-title {
		font-size: 30px;
	}
}
.search-input {
}
@media (min-width: 768px) {
	.search-input {
		width: 100%;
		font-size: 12px;

		padding: 5px;

		border: 1px solid #797689;
		border-radius: 5px;
		transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.search-input:focus {
		border: 1px solid #3886fe;
		outline: none;
	}
}
.popular-articles {
}
.popular-title {
	font-size: 20px;
	margin-bottom: 10px;
}
@media (min-width: 1920px) {
	.popular-title {
		font-size: 24px;
	}
}
.popular__list {
	margin-bottom: 10px;
}
.popular__item {
}
@media (min-width: 1920px) {
	.popular__item {
		display: flex;
	}
}
.popular__item:not(:last-child) {
	margin-bottom: 5px;
}
@media (min-width: 768px) {
	.popular__item {
		padding-bottom: 5px;
	}
}
.popular__img-wrapper {
	display: none;
}
@media (min-width: 768px) {
	.popular__img-wrapper {
		display: block;
		margin-bottom: 5px;
	}
}
.popular__img {
}
@media (min-width: 768px) {
	.popular__img {
		width: 100%;
	}
}
.popular__info-wrapper {
}
.popular__date {
	font-size: 12px;
	margin-bottom: 3px;
}
.popular__text {
	font-size: 16px;
}
.btn--look-all {
	cursor: pointer;
	width: 100%;
	padding: 10px;

	border: 1px solid #84aff9;
	border-radius: 13px;
	color: #ffffff;
	background-color: #84aff9;

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--look-all:hover {
	transform: translateY(10px) translateX(10px);
}
@media (min-width: 768px) {
	.btn--look-all {
		font-size: 12px;
		border-radius: 10px;
	}
}
/* _____ End of Blog Page _____ */
